Package: com.tapsharp.sampletweak
Name: SampleTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: TapSharp <tweaks@tapsharp.com>
Author: TapSharp <tweaks@tapsharp.com>
Section: Tweaks
